@import "./normalize.css";
@import "./profile.scss";
@import "./todo.scss";

html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    font-size: 20px;
    color: rgb(38, 38, 38);
    line-height: 1.25;
}

body {
    padding: 2rem 2rem;
    background: #212121;
    color: #ffffff;
}

main {
    display: block;
    text-align: center;
}

hr {
    width: 100%;
    height: 1px;
    margin: 1.5rem auto;
    border: 0;
    background-color: rgb(50, 50, 50);
}

a {
    color: cornflowerblue;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        text-decoration-style: dotted;
    }
    &:visited {
        color: cornflowerblue;
        text-decoration: none;
    }
}

.page-container {
    max-width: 920px;
    padding: 0 1rem 2rem;
    margin: auto;

    footer {
        text-align: center;
    }
}

// Home {{{
.figure {
    display: block;
}
.logo {
    margin: 1rem auto;
    text-align: center;
}
// }}}
