@import "brand";

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;

    .card {
        border: 1px solid black;
        margin-bottom: 20px;
        background-color: white;

        .cardHeader {
            font-size: 30px;
            text-align: center;
            height: 8rem;
            width: 14.9rem;
            background-color: $gilde_dark_blue;
            padding-top: 20px;
            padding-bottom: 10px;

            img {
                border-radius: 50%;
            }
            p {
                margin-top: 0;
                margin-bottom: -5px;
            }
            .nick {
                font-size: 30px;
            }
            .name {
                font-size: 20px;
            }
        }
        .cardContent {
            color: black;
            text-align: center;
            padding-top: 5px;
            padding-bottom: 10px;
            p {
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }
}
